body{
    background: url("./assets/css/img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-body{
    margin-top: 0;
    padding-top: 0;
}



