body{
    background: url("./assets/css/img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-body{
    margin-top: 0;
    padding-top: 0;
}

.card-image{
    padding: 15px;
    width: 200px;
    float: left;
}

.overlay {
    position:relative;
    text-align: center;
    bottom: 60px;
    width: 100%;
    background: #4aaaa5b8;
    color: #ffffff; 
    font-size: 13px;
    padding: 12px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.box1 {
    box-sizing: border-box; 
    width:960px;
    background-color: #ffffff;
    margin: 30px auto 0 auto;
    padding: 10px;
    border-bottom: 2px solid #dddddd;
    border-top: 2px solid #dddddd;
    border-left: 2px solid #dddddd;
    border-right: 2px solid #dddddd;

}

.footer {
    position:fixed;
    width: 100%;
    bottom:0;
}

@media screen and (max-width: 640px) {
.box1 {
    width: 80%;
    height:100%;
    }
}